/* Checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 5px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 40px;
}

/* Hide the browser's default radio button */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #edf1f3;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #edf1f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-container .checkmark:after {
    top: 5.5px;
    left: 5.5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #262525;
}

/* Custom Semantic UI */

.ui.grid > .row {
    padding: 0;
}

.ui.grid > .column:not(.row),
.ui.grid > .row > .column {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar-title {
    text-align: center;
    width: 100%;
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 30px;
}

.navbar-menu-icon {
    padding-right: 20px;
    padding-top: 10px;
    font-size: 22px;
}

/* Modal */
.modal-cancel-btn {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #6fe2e6;
    color: #262525;
}

.modal-title {
    color: #676767;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Audiobook card */
.audiobook {
    margin-top: 18px;
    margin-bottom: 18px;
}

.audiobook-title-container {
    display: flex;
    align-items: center !important;
    height: 24px;
}

.audiobook-title {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.audiobook-authors-container {
    display: flex;
    align-items: center !important;
    height: 20px;
}

.audiobook-authors {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 14px;
}

.audiobook-narrators-container {
    display: flex;
    align-items: center !important;
    height: 20px;
}

.audiobook-narrators {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 12px;
    color: #262525;
    opacity: 0.7;
}

.audiobook-read-percentage {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 12px;
    color: #262525;
}

.audiobook-download {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 12px;
    color: #262525;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.audiobook-remaining-time {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 12px;
    color: #262525;
    opacity: 0.7;
    text-align: right;
}

.check-icon {
    color: "#36dca5";
    font-size: "1.8em";
    padding-top: 8px;
}

.audiobook-progress-container {
    margin-top: 4px;
    margin-bottom: 8px;
}

.progress-bar-container {
    display: flex !important;
    align-items: center !important;
}

.ui.grid {
    margin: 0;
}

.audiobook.row {
    padding: 0;
}
.audiobook-cover-img {
    height: 100px;
    width: 100px;
    border-radius: 6px;
}
